<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >INFO PAGE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
       <li class="nav-item active"> <a class="nav-link" routerLink="/auth/login"> Login</a></li>

   
       <li  class="nav-item active"> <a class="nav-link" (click)="LogOut()" routerLink="/login"> Log out</a></li>
      </ul>
  
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <div class="constainer" style="margin-top: 20px;">
  
    <router-outlet> </router-outlet>
    <div class="row">
<div class="box col-md-6">
  <p>
    What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It w
  </p>
</div>
<div class="box col-md-6">
  
</div>
</div>
      </div>
     